@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
section{
    padding: 100px 0;
    height: 100vh;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
.about, .skills, .teams{
    font-family: 'Poppins', sans-serif;
}
.about .about-content,
.skills .skills-content,
.teams .teams-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  /*  justify-content: space-between;*/
}
section .title{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 180px;
    height: 3px;
    background: #111;
    transform: translateX(-50%);
}
section .title::after{
    position: absolute;
    bottom: -8px;
    left: 50%;
    font-size: 20px;
    color: crimson;
    padding: 0 5px;
    background: #fff;
    transform: translateX(-50%);
}
/* hd  */
.hd{
    position: fixed;
    width: 100%;
    z-index: 999;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
}
.hd.sticky{
    padding: 15px 0;
    background: crimson;
}
.hd .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hd .logo a{
    color: #fff;
    font-size: 35px;
    font-weight: 600;
}
.hd .logo a span{
    color: crimson;
    transition: all 0.3s ease;
}
.hd.sticky .logo a span{
    color: #fff;
}
/* menu  */
.hd .menu li{
    list-style: none;
    display: inline-block;
}
.hd .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
/*ບ່ອນຈີ້ລະເກີດສີ*/
.hd .menu li a:hover{
    color: crimson;
}
/* home  */
.home{
    display: flex;
    background-image: url(https://wallpapers.com/images/high/high-resolution-black-background-4ht3vzwdq2zg35rz.webp);
    height: 100vh;
    color: #fff;
    min-width: 500px;
    font-family: 'Ubuntu', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text1{
    font-size: 27px;
}
.home .home-content .text2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text3 span{
    color: crimson;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: crimson;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid crimson;
    transition: all 0.3s ease;
}
.home .home-content a:hover{
    color: crimson;
    background: none;
}
/* about section  */
.about .title::after{
    content: "who i am";
}
.about .about-content .left{
    width: 45%;
}
.about .about-content .left img{
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}
.about .about-content .right{
    width: 55%;
}
.about .about-content .right .text{
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about .about-content .right .text span{
    color: crimson;
}
.about .about-content .right p{
    text-align: justify;
}

/*skills section*/
.skills .title::after{
    content: "what i know";
}
.skills .skills-content .column{
    width: 100%;
}

.skills .skills-content .bars{
    margin-bottom: 15px;
}
.skills .skills-content .info{
    display: flex;
    margin-bottom: 5px;
    align-items: center;
    justify-content: space-between;
}
.skills .skills-content span{
    font-weight: 500;
    font-size: 18px;
}
.skills .skills-content .line{
    height: 50px;
    width: 100%;
    background: lightgrey;
    position: relative;
}
.skills .skills-content  .line::before{
    content: "";
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: crimson;
}
.skills-content .html::before{
    width: 70%;
}
.skills-content .css::before{
    width: 60%;
}
.skills-content .js::before{
    width: 20%;
}
.skills-content .eng::before{
    width: 50%;
}
.skills-content .de::before{
    width: 80%;
}

/* team*/
.teams{
    color:#fff;
    background: #111;
}
.teams .title::before{
    background: #fff;
}
.teams .title::after{
    background: #111;
    content: "what i provide";
}
.container{
    max-width: 1000px;
    margin: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    row-gap: 5px;
    column-gap: 5px;
}
.box{
    margin: 20px;
    padding: 40px;
    border-radius: 25px;
}

.img{
    width: 400px;
    height: 350px;
    border-radius: 25px;
}
a{
    text-decoration: none;
}
.btn{
    background-color:crimson;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

footer{
    background-color:white;
    color: black;
    text-align: center;
    padding: 20px;
}
i{
    font-size: 30px;
    color: blue;
}
i:hover{
    color: aqua;
}
